/*  este estilo se lo daré desde el app.component.scss, en countdown.component.ts le agregué el metadato host : {'class': 'testHostClass'}
    que hace esta misma funcionalidad
:host {    
  width: 100%;
  text-align: center;
  font-size: 4em;
} */